google-tunix @ git+https://github.com/google/tunix.git@43cb3bdf019d048bf3c9f3926555152ec536f8a9
qwix==0.1.6
kagglehub==0.4.3
importlib_resources
tensorflow
datasets
gcsfs==2026.2.0
jax[cpu]
matplotlib
sacrebleu
transformers
